<div class="jumbotron">
  <h1 class="display-4">{{siteEvent.title}}</h1>
  <p class="lead">{{siteEvent.time}}, {{siteEvent.place.name}} ({{siteEvent.place.city.name}}, {{siteEvent.place.address}})</p>
  <hr class="my-4">
  <p>{{siteEvent.longDetails}}</p>
  <hr class="my-4">
  <p>Tickets:</p>
  <p>Amount: {{siteEvent.ticketsAmount}}</p>
  <p>Amount left: {{siteEvent.ticketsLeft}}</p>
  <p>Actual price: {{siteEvent.ticketPrice}}$</p>
  <button class="btn btn-primary btn-lg" (click)="showModal(buyTicketModal)" role="button" data-toggle="modal" data-target="#exampleModal">Get ticket</button>
</div>

<ng-template #buyTicketModal>
  <div class="modal-header">
    <h5 class="modal-title" >Book ticket</h5>
  </div>
  <div class="modal-body">
      <div>
        <label class="col-form-label">First and Last name:</label>
        <input type="text" class="form-control"[(ngModel)]="ownerName">
      </div>
      <div>
        <label class="col-form-label">Email:</label>
        <input class="form-control" [(ngModel)]="ownerEmail"/>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="bookTicket()">Book ticket</button>
  </div>
</ng-template>


<ng-template #ticketCodeModal>
  <div class="modal-header">
    <h5 class="modal-title">Book ticket</h5>
  </div>
  <div class="modal-body">
    <div>
      <label class="col-form-label">Verify code:</label>
      <input type="text" class="form-control" [(ngModel)]="ticketCode">
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="verifyCode()">Book ticket</button>
  </div>
</ng-template>


<ng-template #confirmModal>
  <div class="modal-header">
    <h5 class="modal-title" >Book ticket</h5>
  </div>
  <div class="modal-body">
    <h1>Ticket booked!</h1>
  </div>
</ng-template>
