<div class="events-row">
  <div class="card col-md-3" style="width: 18rem;" *ngFor="let siteEvent of events">
    <div class="card-body">
      <h5 class="card-title">{{siteEvent.title}}</h5>
      <p class="card-text">{{siteEvent.city}}</p>
      <p class="card-text">{{siteEvent.time}}</p>
      <p class="card-text">{{siteEvent.place}}</p>
      <p class="card-text">{{siteEvent.description}}</p>
      <a (click)="goToDetails(siteEvent.siteEventId)"  class="btn btn-primary">Details</a>
    </div>
  </div>
</div>
